{% extends "::base.html.twig" %}

{% block title "Hello " ~ name %}
    
{% block body %}    

    <h1>Hello {{ name }}!</h1>
    
    {{ bluegrass_blues_widget( gridWidget ) }}    
    
{% endblock %}
    